@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #674baf;
  --secondary-color: #e882e8;
  --default-color: #fff;
}

html, body {
  height: 100%;
}

body {
  background-image: url('./images/background-desktop.svg');
  background-size: contain;
  background-color: var(--primary-color);
  padding: 3.75rem 5rem 2.5rem 5rem;
  color: var(--default-color);
}

header {
  img {
    width: 14.6875rem;
  }
}

main {
  display: flex;
  padding-top: 5.75rem;

  .banner {
    width: 60%;

    img {
      width: 92.5%;
    }
  }

  .text {
    width: 40%;
    padding-top: 3rem;

    h1 {
      font-size: 2.75rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
      filter: brightness(85%);
      margin-bottom: 1.5rem;
    }

    button {
      width: 14.375rem;
      height: 3.75rem;
      background-color: var(--default-color);
      border: none;
      border-radius: 3.125rem;
      font-size: 1.25rem;
      color: var(--primary-color);
      font-weight: 500;
      box-shadow: .1563rem .1563rem 1.25rem 0 #00000070;
      cursor: pointer;
    }

    button:hover {
      color: var(--default-color);
      background-color: var(--secondary-color);
    }
  }
}

footer li a img {
    display: flex;
    width: 2rem;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.social-icons {
    position: absolute;
    bottom: 10px;
    right: 25px;
    display: flex;
    list-style: none;
    flex-direction: row; 
    gap: 15px;
    justify-content: flex-end;
}

.social-icons img {
  transition: 0.5s;
}

.social-icons img:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(50%) 
          saturate(600%) hue-rotate(230deg);
}